.DS_Store
/.build
.swiftpm/
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

*.trace
measurements.txt
data.txt
test.txt
measurements_huge.txt measurements.txt
weather_stations.csv
measurements_huge.txt
